<h1>Crypto Link</h1>
<p>Where you can find all your crypto-info</p>

Crypto tree Map

<div>
  <script src="https://widgets.coingecko.com/coingecko-coin-heatmap-widget.js"></script>
  <coingecko-coin-heatmap-widget height="600" locale="en"></coingecko-coin-heatmap-widget>
</div>

{{!-- Price comparison widget --}}


{{!--
<script src="https://widgets.coingecko.com/coingecko-coin-compare-chart-widget.js"></script>
<coingecko-coin-compare-chart-widget coin-ids="bitcoin,ethereum" currency="usd"
  locale="en"></coingecko-coin-compare-chart-widget>

{{!-- Technical analysis widget --}}

{{!-- <div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/BTCUSD/?exchange=BITSTAMP"
      rel="noopener" target="_blank"><span class="blue-text">Bitcoin analysis</span></a> by TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js"
    async>
      {
        "interval": "1m",
          "width": 425,
            "isTransparent": false,
              "height": 450,
                "symbol": "BITSTAMP:BTCUSD",
                  "showIntervalTabs": true,
                    "locale": "en",
                      "colorTheme": "light"
      }
    </script>
</div> --}}

<div class="container clearfix">
<div class="table-responsive">
  <table class="table text-center">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Current Price (EUR)</th>
        <th scope="col">Price Change % 24h (%)</th>
        <th scope="col">Market Cap (EUR)</th>
      </tr>
      </thead>
      {{#each values.[0]}}
      <tbody>
      <tr>
        <th scope="col"><img src={{this.image}} class="img-responsive " style="width: 50px; height: auto;" /></th>
        <th scope="col"><h1>{{this.name}}</h1></th>
        <th scope="col"><p>{{this.current_price}}</p></th>
        <th scope="col"><p>{{this.price_change_percentage_24h}}</p></th>
        <th scope="col">{{this.market_cap}}</p></th>
        <th scope="col"><form method="POST" action="/crypto/portfolio/add">
        
          <label> Amount owned:
            <input type="number" name="amount" />
          </label>
          <label> Price Purchased At:
            <input type="number" name="purchasedAt" />
          </label>
          <input type="hidden" name="coinName" value="{{this.name}}" />
          <input type="hidden" name="coinId" value="{{this.id}}" />
          <input type="hidden" name="image" value="{{this.image}}" />
          {{!-- <input type="hidden" name="CreatedBy" value="{{req.session.currentUser.email}}" /> --}}
        
        
          <button type="submit"> Add to portfolio </button>
        </form></p>
        </th>
      </tr>
    </tbody>

      {{!--Form for adding coin to the portfolio --}}
      
    </div>

  </div>
  {{/each}}
</div>



<div class="container clearfix" >
<H2>Top 7 trending coins in last 24h</H2>


<div class="container m-5">


  {{#each values.[1].coins}}
  <div class="row">
    <div class="col-3">
      <h2>{{this.item.name}} {{this.item.symbol}}</h2>
    </div>
<div class="col-6">
    <p>Price BTC: {{this.item.price_btc}}</p>
    </div>
    <div class="col-3">
      <p>Market Cap Rank: {{this.item.market_cap_rank}}</p>
    </div>
  </div>
  {{/each}}


</div>
</div>

