<h1>Crypto Link</h1>
<p>Where you can find all your crypto-info</p>

<div>
  <script src="https://widgets.coingecko.com/coingecko-coin-heatmap-widget.js"></script>
  <coingecko-coin-heatmap-widget height="400" locale="en"></coingecko-coin-heatmap-widget>
</div>


{{!-- Current code below --}}

{{!-- <div class="container clearfix">
<div class="table-responsive">
  <table class="table text-center">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Current Price (EUR)</th>
        <th scope="col">Price Change % 24h (%)</th>
        <th scope="col">Market Cap (EUR)</th>
      </tr>
      </thead>
      {{#each values.[0]}}
      <tbody>
      <tr>
        <th scope="col"><img src={{this.image}} class="img-responsive " style="width: 50px; height: auto;" /></th>
        <th scope="col"><h1>{{this.name}}</h1></th>
        <th scope="col"><p>{{this.current_price}}</p></th>
        <th scope="col"><p>{{this.price_change_percentage_24h}}</p></th>
        <th scope="col">{{this.market_cap}}</p></th>
        <th scope="col"><form method="POST" action="/crypto/portfolio/add">
        
          <label> Amount owned:
            <input type="number" name="amount" />
          </label>
          <label> Price Purchased At:
            <input type="number" name="purchasedAt" />
          </label>
          <input type="hidden" name="coinName" value="{{this.name}}" />
          <input type="hidden" name="coinId" value="{{this.id}}" />
          <input type="hidden" name="image" value="{{this.image}}" />
          <input type="hidden" name="CreatedBy" value="{{req.session.currentUser.email}}" />
          <button type="submit"> Add to portfolio </button>
        </form></p>
        </th>
      </tr>
    </tbody> --}}

    {{!-- current code above --}}

    <div class="container clearfix overflow-y: scroll">
      <div class="table-responsive">
        <table class="table text-center ">
          <thead >
            <tr>
              <th scope="col"></th>
              <th scope="col">Name</th>
              <th scope="col">Current Price (EUR)</th>
              <th scope="col">Price Change 24h (%)</th>
              <th scope="col">Market Cap (EUR)</th>
            </tr>
          </thead >
          {{#each values.[2]}}
          <tbody class=" align-middle">
            <tr class="p-0">
              <th scope="col"><img src={{this.image}} class="img-responsive " style="width: 20%; height: auto;" /></th>
              <th scope="col">
                <h1>{{this.name}}</h1>
              </th>
              <th scope="col">
                <p>{{this.current_price}}</p>
              </th>
              <th scope="col">
                <p>{{this.price_change_percentage_24h}}</p>
              </th>
              <th scope="col">{{this.market_cap}}</p>
              </th>
                  <th class="col-xs-1" scope="col">
                    <button type="button" class="shadow btn btn-success btn-block btn-xs gradient-custom-4 text-body" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Add to portfolio
                    </button>
                </form>

                <form method="POST" action="/crypto/portfolio/addToWatchlist">
                  <input type="hidden" name="watchCoinName" value="{{this.name}}" />
                  <input type="hidden" name="watchCoinId" value="{{this.id}}" />
                  <input type="hidden" name="watchImage" value="{{this.image}}" />
                  <input type="hidden" name="watchCurrPrice" value="{{this.current_price}}" />
                  <input type="hidden" name="CreatedBy" value="{{session.currentUser.email}}" />
                  <button class=" shadow btn btn-success btn-block btn-xs gradient-custom-4 text-body btn-danger" type="submit"> Add to Watch List </button>
                </form>
               
              </th>
            </tr>
          </tbody>    
      </div>
 

     {{/each}}
    </div>
   
  </table>
</div>

<div class="container clearfix" >
<H2>Top 7 trending coins in last 24h</H2>

{{log values.[1].coins}}

<table class="table table-striped table-dark table-sm">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Symbol</th>
      <th scope="col">Coin Name</th>
      <th scope="col">Market Cap Rank</th>
      <th scope="col">Price BTC</th>
    </tr>
  </thead>
  <tbody class="table-group-divider align-middle" >
    {{#each values.[1].coins}}
    <tr >
      <th ><img src="{{this.item.small}}" alt="" srcset=""></th>
    <td>{{this.item.symbol}}</td>
      <td>{{this.item.name}}</td>
       <td>{{this.item.market_cap_rank}}</td>
      <td>{{this.item.price_btc}}</td>
     
    </tr>
    {{/each}}
  </tbody>
</table>



<!-- Button trigger modal -->


<!-- Modal -->

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add to Portfolio</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form method="POST" action="/crypto/portfolio/add">
        
            <label> Amount owned:
              <input style="width: 100px" type="number" step="any" name="amount" />
            </label>
        
            <div class="col-xs-1">
              <label> Price Purchased At:
                <input style="width: 100px" type="number" step="any" name="purchasedAt" />
            </div>
            </label>
            <input type="hidden" name="coinName" value="{{this.item.name}}" />
            <input type="hidden" name="coinId" value="{{this.item.id}}" />
            <input type="hidden" name="image" value="{{this.item.image}}" />
            <input type="hidden" name="CreatedBy" value="{{req.session.currentUser.email}}" />
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success btn-block btn-xs gradient-custom-4 text-body">
          Add
        </button>
      </div>
    </div>
  </div>
</div>

