{{!-- <a href="https://cryptopanic.com/" target="_blank" data-news_feed="trending" data-bg_color="#010101"
    data-text_color="#D6D6D6" data-link_color="#2981D1" data-header_bg_color="#30343B" data-header_text_color="#FFFFFF"
    data-posts_limit="10" class="CryptoPanicWidget">Latest News</a>
<script src="https://static.cryptopanic.com/static/js/widgets.min.js"></script> --}}

    <h1>Latest News</h1>
    <div class="container">
    <table class="table table-dark table-striped table-bordered" >
        {{#each articles}}
        <tbody class="table-group-divider">
            <div class="row">
                <tr>
                    <th>{{#if urlToImage}}<img src="{{urlToImage}}" alt="{{title}} image"
                            style="width: 100px; height: auto;"> </th>{{/if}}
                        <th><h4>{{title}}</h4>
                    </th>
            </div>
            <th>
                <p class="fw-lighter">{{description}}</p>
            </th>
            <th>
                <p><a href="{{url}}">Read more</a></p>
            <th>
                </tr>
                {{/each}}
    
    </table>
    </div>