{{!-- <a href="https://cryptopanic.com/" target="_blank" data-news_feed="trending" data-bg_color="#010101"
    data-text_color="#D6D6D6" data-link_color="#2981D1" data-header_bg_color="#30343B" data-header_text_color="#FFFFFF"
    data-posts_limit="10" class="CryptoPanicWidget">Latest News</a>
<script src="https://static.cryptopanic.com/static/js/widgets.min.js"></script> --}}
<h1>Latest News</h1>
<div class="container">
<div class="row">
{{#each articles}}
    <div class="col-md-3 mb-4">
        <div class="card h-100" style="width: 18rem;">
            <img src="{{urlToImage}}" class="card-img-top m-h-50 same-size-img text-truncate" alt="{{title}}">
            <div class="card-body ">
                <h5 class="card-title">{{title}}</h5>
                {{!-- <p class="card-text text-truncate">{{description}}</p> --}}
                <button type="button submit " class="btn btn-success btn-block btn-sm text-body">
                    <a href="{{url}}" class="card-link"> Read more</a></button>

            </div>
        </div>
    </div>
{{/each}}
</div>
</div>