<h1>This is your portfolio</h1>

{{log coin}}

{{#each coin}}
<img src={{this.image}} alt="" srcset="">
<h1>{{this.name}}</h1>
<p>Amount owned: {{this.owned}}</p>
<p>Purchased at: EUR {{this.purchasedAt}}</p>
{{/each}}


